{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>
<p>Bienvenue sur notre site "Bucket List" ! Nous sommes une équipe passionnée de voyage et d'aventure, et nous croyons que chaque personne devrait avoir une liste de choses à faire avant de mourir - une "bucket list" - qui les inspire à explorer le monde, à sortir de leur zone de confort et à réaliser leurs rêves les plus fous.</p><br><br>

    <p> Notre objectif est de vous aider à créer votre propre liste de souhaits et de vous donner les outils et les ressources dont vous avez besoin pour la réaliser. Nous proposons des idées inspirantes, des guides de voyage, des conseils pratiques et des histoires de voyage pour vous aider à planifier votre prochaine grande aventure.</p><br><br>

    <p> Nous sommes également une communauté de voyageurs passionnés qui partagent votre amour pour l'aventure et l'exploration. Nous croyons que les voyages sont plus enrichissants lorsqu'ils sont partagés, et nous encourageons nos membres à partager leurs histoires, leurs photos et leurs conseils avec la communauté.</p><br><br>

    <p> Nous espérons que notre site vous inspirera à créer votre propre liste de souhaits, à explorer de nouveaux endroits et à vivre des aventures inoubliables. Rejoignez-nous dans notre quête pour cocher toutes les cases de notre liste de souhaits !</p>
{% endblock %}

{% block title %}
{{ parent() }} | About Us
{% endblock %}